<div class="container">
	<h1>Log Aktivitas</h1>
	<h2>Tanggal: 28 Mei 2017</h2>
	<br><br>
	<form>
		<div class="form-group">
			<label for="nama">Nama PNS</label>
			<input type="text" class="form-control" id="name" value="PNS#1152" readonly>
		</div>
		
		<div class="form-group">
			<label for="jabatan">Jabatan PNS</label>
			<input type="text" class="form-control" id="jabatan" value="Pengadministrasi Kepegawaian" readonly>
		</div>
		
		<div class="form-group">
			<div class="row">
				<div class="col-xs-5">
					<label for="aktivitas">Aktivitas</label>
				</div>
				<div class="col-xs-1">
					<label for="durasi">Durasi(jam)</label>
				</div>
				<div class="col-xs-6">
					<label for="jobdesc">Tugas</label>
				</div>
			</div>
			<div class="row" *ngFor='let aktivitas of aktivitas'>
				<div class="col-xs-5">
					<input type="text" class="form-control" id="aktivitas">
				</div>
				<div class="col-xs-1">
					<input type="text" class="form-control" id="durasi">
				</div>
				<div class="col-xs-6">
					<select class="form-control" id="jobdesc">
						<option *ngFor="let jobdesc of jobdescription" [value]="jobdesc">{{jobdesc.jobdesc}}</option>
					</select>
				</div>
			</div>
			<button (click)="addAktivitas()">Tambah</button>
			
			<br><br>
			<div class="row">
				<div class="col-xs-3">
					<button (click)="konfirmKemarin()"><< Kemarin</button>
					<button (click)="konfirmBesok()">Besok >></button>
				</div>
				<div class="col-xs-1 pull-right">
					<button (click)="konfirmAktivitas()">Kirim</button>
				</div>
			</div>
			
		</div>
	</form>
</div>	